<!DOCTYPE html>
<html 
>
  <head>
  <meta charset="utf-8">
  <!-- ### DNS Prefetch ### -->
  <meta http-equiv="x-dns-prefetch-control" content="on">
<!-- busuanzi -->

<!-- comment -->






<!-- analytics -->






  <!-- ### Preload ### -->
  

  <!-- ### Meta & Title & Info ### -->
  <meta http-equiv="X-UA-Compatible" content="IE=Edge, chrome=1">
<meta name="renderer" content="webkit">
<meta name="viewport"
  content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
<!-- Title -->
<title>實作 Tooltip (純 CSS) | 點燈坊</title>
<!-- favicon -->
<!-- Favicons -->

<link rel="shortcut icon" type="image/ico" href="/favicon.ico">


<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">



<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">


<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ff2601">
<!-- Android Chrome Color -->

<meta name="format-detection" content="telephone=no">
<!-- Description -->
<meta name="description" content="Tooltip 為實務上常見效果，可完全使用 CSS 實現。">
<!-- Keywords -->
<meta name="keywords" content=", CSS">
<!-- Disable Fucking Bloody Baidu Tranformation -->
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
  <!-- ### Import File ### -->
  
    <!-- spectre.css -->

<link rel="stylesheet" href="/lib/spectre/spectre.min.css">

<style>
body {
  background-color: #f8f9fa
}

a,
a:visited {
  color: #0070ff
}

a:active,
a:focus,
a:hover {
  color: #0070ff;
  opacity: .75;
}

.avatar {
  background: #444
}

.navbar-link,
.navbar-link:visited,
.timeline .timeline-item .timeline-icon.icon-lg {
  color: #0070ff
}

.navbar-link:hover {
  color: #0070ff;
  opacity: .8;
}

#search-input .btn,
#disqus_click_btn,
#disqus-switch-to-direct,
#disqus-loadmore-button {
  background: #727e96;
  border-color: #727e96;
  color: #fff;
}

#post-toc a.post-toc-link,
#post-toc a.post-toc-link:visited,
.share-menu.menu .menu-item > a {
  color: #727e96
}

.share-menu.menu .menu-item > a:hover,
.share-menu.menu .menu-item > a:focus,
.share-menu.menu .menu-item > a:visited {
  color: #50596c;
  background: #f8f9fa;
  opacity: .85;
}
</style>

<!-- style.css -->

<link rel="stylesheet" href="/css/style.min.css">


<!-- prism.css -->

    <!-- prism.line_number -->
    
        
            <link rel="stylesheet" href="/lib/prism/prism-line-numbers.min.css">
        
    
    <!-- prism.theme -->
    
        <link rel="stylesheet" href="/lib/prism/prism-darcula.min.css">
    




  
  <!-- ### Site Verification ### -->
  

  <!-- ### RSS ### -->
  

<link rel="alternate" type="application/atom+xml" href="/atom.xml">


  <!-- ### WebApp ### -->
  <meta name="mobile-web-app-capable" content="yes">
<meta name="application-name" content="點燈坊">
<meta name="msapplication-starturl" content="https://yabai.tw">

<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="點燈坊">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<!-- Manifest Import -->

<link rel="manifest" href="/site.webmanifest">

<!-- Open Search -->

  <!-- ### The Open Graph & Twitter Card Protocol ### -->
  <meta property="og:title" content="實作 Tooltip (純 CSS) | 點燈坊">
<meta property="og:site_name" content="點燈坊">

<meta property="og:url" content="https://yabai.tw/css/cookbook/component/tooltip1/">
<meta property="og:image"
	content="https://yabai.tw/apple-touch-icon.png">
<meta property="og:description" content="Tooltip 為實務上常見效果，可完全使用 CSS 實現。">
<meta name="twitter:card" content="summary">

<meta property="og:type" content="article">
<meta property="article:published_time" content="2024-05-26T15:41:06.000Z">
<meta property="article:modified_time" content="2024-05-26T15:41:06.000Z">
<meta property="article:author" content="Sam Xiao">
<meta property="og:article:tag" content=", CSS">


  <!-- ### Analytics ### -->
  





  <!-- ### Canonical link ### -->
  <link rel="canonical" href="https://yabai.tw/css/cookbook/component/tooltip1/">
  <!-- ### Structured Data ### -->
  

<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "url": "https://yabai.tw/css/cookbook/component/tooltip1/",
    "@type": "BlogPosting",
    "logo": "https://yabai.tw/apple-touch-icon.png",
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://yabai.tw/css/cookbook/component/tooltip1/"
    },
    "headline": "實作 Tooltip (純 CSS) | 點燈坊",
    
    "image": {
        "@type": "ImageObject",
        "url": "https://yabai.tw/apple-touch-icon.png"
    },
    
    "datePublished": "2024-05-26T15:41:06.000Z",
    "dateModified": "2024-07-18T09:24:02.821Z",
    "author": {
        "@type": "Person",
        "name": "Sam Xiao",
        "image": {
            "@type": "ImageObject",
            "url": "https://yabai.tw/img/default_avatar.png"
        },
        "description": "失くすものさえない今が強くなるチャンスよ"
    },
    "publisher": {
        "@type": "Organization",
        "name": "點燈坊",
        "logo": {
            "@type": "ImageObject",
            "url": "https://yabai.tw/apple-touch-icon.png"
        }
    },
    
    "potentialAction": {
        "@type": "SearchAction",
        "target": "https://yabai.tw/search?s={search_term_string}",
        "query-input": "required name=search_term_string"
    },
    
    "keywords": ", CSS",
    "description": "Tooltip 為實務上常見效果，可完全使用 CSS 實現。"
}
</script>

  <!-- ### Custom Head ### -->
  
<meta name="generator" content="Hexo 4.2.1"></head>
  <body>
  <header>
  <h1 class="header-title text-center">
    <a href="/">
      點燈坊
    </a>
  </h1>
  <p class="text-center header-slogan">
    失くすものさえない今が強くなるチャンスよ
  </p>
  <script>
  let titleFontSizes;
  let bodyFontSizes;
  let contentFontSizes;
  let archiveFontSizes;
  let searchTitleFontSizes;
  let searchBodyFontSizes;

  let getFontSize = ({ selector }) => {
    let element = document.querySelector(selector);

    if (element !== null) {
      let oriFontSize = window.getComputedStyle(element).fontSize;
      let incFontSize = parseInt(oriFontSize) * 1.2 + 'px';

      return [
        oriFontSize,
        incFontSize
      ];
    }

    return [0, 0];
  };

  let setFontSize = ({ selector, fontSize }) => document.querySelectorAll(selector).forEach(
    x => x.style['font-size'] = fontSize
  );

  let readFontSize = ({ key, value }) => {
    if (localStorage.getItem(key) !== null) {
      return localStorage.getItem(key);
    }
    else {
      return value;
    }
  };

  let writeFontSize = ({ key, fontSize }) => localStorage.setItem(key, fontSize);

  let loadFontSize = () => {
    // home
    setFontSize({
      selector: '.post-entry a.card-title',
      fontSize: readFontSize({ key: 'title', value: titleFontSizes[0] })
    });

    setFontSize({
      selector: '.post-entry .card-body' ,
      fontSize: readFontSize({ key: 'body', value: bodyFontSizes[0] })
    });

    // post
    setFontSize({
      selector: '#post-content',
      fontSize: readFontSize({ key: 'content', value: contentFontSizes[0] })
    });

    // archive
    setFontSize({
      selector: '.tile-title',
      fontSize: readFontSize({ key: 'archive', value: archiveFontSizes[0] })
    });

    // search
    setFontSize({
      selector: '.search-title',
      fontSize: readFontSize({ key: 'search-title', value: searchTitleFontSizes[0] })
    });

    setFontSize({
      selector: '.search-result-summary',
      fontSize: readFontSize({ key: 'search-body', value: searchBodyFontSizes[0] })
    });
  }

  let toggleFontSize = ({ selector, key, fontSizes }) => {
    let element = document.querySelector(selector);

    if (element !== null) {
      let fontSize = window.getComputedStyle(element).fontSize;

      if (fontSize === fontSizes[0]) {
        setFontSize({ selector, fontSize: fontSizes[1] });
        writeFontSize({ key, fontSize: fontSizes[1]})
      } else {
        setFontSize({ selector, fontSize: fontSizes[0] });
        writeFontSize({ key, fontSize: fontSizes[0] });
      }
    }
  };

  let increaseFontSize = () => {
    // home
    toggleFontSize({
      selector: '.post-entry a.card-title',
      key: 'title',
      fontSizes: titleFontSizes
    });

    toggleFontSize({
      selector: '.post-entry .card-body',
      key: 'body',
      fontSizes: bodyFontSizes
    });

    // post
    toggleFontSize({
      selector: '#post-content',
      key: 'content',
      fontSizes: contentFontSizes
    });

    // archive
    toggleFontSize({
      selector: '.tile-title',
      key: 'archive',
      fontSizes: archiveFontSizes
    });

    // search
    toggleFontSize({
      selector: '.search-title',
      key: 'search-title',
      fontSizes: searchTitleFontSizes
    });

    toggleFontSize({
      selector: '.search-result-summary',
      key: 'search-body',
      fontSizes: searchBodyFontSizes
    });
  };

  window.onload = function () {
    titleFontSizes = getFontSize({ selector: '.post-entry a.card-title' });
    bodyFontSizes = getFontSize({ selector: '.post-entry .card-body' });
    contentFontSizes = getFontSize({ selector: '#post-content' });
    archiveFontSizes = getFontSize({ selector: '.tile-title' });
    searchTitleFontSizes = getFontSize({ selector: '.search-title'});
    searchBodyFontSizes = getFontSize({ selector: '.search-result-summary'});

    loadFontSize();
  };
</script>
<nav class="navbar-section text-center">
  <div class="columns">
    <div class="column col-1"></div>
    <div class="column col-10 col-sm-12 align-content-center">
      <a href="/" class="navbar-link">ホーム</a>
      <a href="/series/" class="navbar-link">シリーズ</a>
      <a href="/tags/" class="navbar-link">タグ</a>
      <a href="/search" class="navbar-link">検索</a>
<!--      <a href="/atom.xml" target="_blank" class="navbar-link">RSS</a>-->
    </div>
    <div class="column col-1 increase-font-size">
      <a class="hide-sm" style="cursor: pointer;" onclick="increaseFontSize()"><img
          src="/images/svg/font-size.svg"
          alt="font size" class="font-size"></a>
    </div>
  </div>
</nav>

</header>
  
<!-- ## Post ## -->
<div class="post-container">
  <div id="post-card" class="card">
    <div class="card-item-container">
      <div class="card-inner-cell">
        <div class="card-header">
          
<h1 class="card-title h3 mb-2">實作 Tooltip (純 CSS)</h1>


<div class="post-header-info">
	<img class="author-thumb lazyload" data-src="/img/default_avatar.png" src="/img/suka-lazyload.gif"
		alt="Sam Xiao's Avatar">
	<span>2024-05-26</span>
</div>

        </div>
        <div class="card-body">
          <article id="post-content">
            <p>Tooltip 為實務上常見效果，可完全使用 CSS 實現。</p>
<a id="more"></a>

<h2 id="Version"><a href="#Version" class="headerlink" title="Version"></a>Version</h2><p>CSS 3</p>
<h2 id="Page"><a href="#Page" class="headerlink" title="Page"></a>Page</h2><p><img src="/images/css/cookbook/component/tooltip1/tooltip01.webp" alt="tooltip01"></p>
<p>當 hover 過 <code>Hover over me!</code> 時，會在右側顯示紅色 <code>I&#39;m tooltip</code>。</p>
<h2 id="Template"><a href="#Template" class="headerlink" title="Template"></a>Template</h2><pre class="line-numbers highlight language-html"><code class="language-html"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>template</span><span class="token punctuation">></span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>title<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
    Hover over me!
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>template</span><span class="token punctuation">></span></span>

<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>style</span> <span class="token attr-name">scoped</span><span class="token punctuation">></span></span><span class="token style language-css">
<span class="token selector"><span class="token class">.title</span> </span><span class="token punctuation">{</span>
  <span class="token property">position</span><span class="token punctuation">:</span> relative<span class="token punctuation">;</span>
  <span class="token property">top</span><span class="token punctuation">:</span> <span class="token number">20</span>px<span class="token punctuation">;</span>
  <span class="token property">border-bottom</span><span class="token punctuation">:</span> <span class="token number">1</span>px solid <span class="token hexcode">#f00</span><span class="token punctuation">;</span>
  <span class="token property">display</span><span class="token punctuation">:</span> inline-block<span class="token punctuation">;</span>
<span class="token punctuation">}</span>

<span class="token selector"><span class="token class">.title</span><span class="token pseudo-element">:before</span> </span><span class="token punctuation">{</span>
  <span class="token property">content</span><span class="token punctuation">:</span> <span class="token string">"I'm tooltip"</span><span class="token punctuation">;</span>
  <span class="token property">position</span><span class="token punctuation">:</span> absolute<span class="token punctuation">;</span>
  <span class="token property">top</span><span class="token punctuation">:</span> <span class="token number">50%</span><span class="token punctuation">;</span>
  <span class="token property">transform</span><span class="token punctuation">:</span> <span class="token function">translateY</span><span class="token punctuation">(</span>-<span class="token number">50%</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
  <span class="token property">left</span><span class="token punctuation">:</span> <span class="token number">100%</span><span class="token punctuation">;</span>
  <span class="token property">margin-left</span><span class="token punctuation">:</span> <span class="token number">18</span>px<span class="token punctuation">;</span>
  <span class="token property">width</span><span class="token punctuation">:</span> <span class="token number">100</span>px<span class="token punctuation">;</span>
  <span class="token property">padding</span><span class="token punctuation">:</span> <span class="token number">10</span>px<span class="token punctuation">;</span>
  <span class="token property">border-radius</span><span class="token punctuation">:</span> <span class="token number">10</span>px<span class="token punctuation">;</span>
  <span class="token property">background</span><span class="token punctuation">:</span> <span class="token hexcode">#f00</span><span class="token punctuation">;</span>
  <span class="token property">color</span><span class="token punctuation">:</span> <span class="token hexcode">#fff</span><span class="token punctuation">;</span>
  <span class="token property">text-align</span><span class="token punctuation">:</span> center<span class="token punctuation">;</span>
  <span class="token property">opacity</span><span class="token punctuation">:</span> <span class="token number">0</span><span class="token punctuation">;</span>
  <span class="token property">transition</span><span class="token punctuation">:</span> opacity <span class="token number">1</span>s<span class="token punctuation">;</span>
<span class="token punctuation">}</span>

<span class="token selector"><span class="token class">.title</span><span class="token pseudo-class">:hover</span><span class="token pseudo-element">:before</span> </span><span class="token punctuation">{</span>
  <span class="token property">opacity</span><span class="token punctuation">:</span> <span class="token number">1</span><span class="token punctuation">;</span>
<span class="token punctuation">}</span>

<span class="token selector"><span class="token class">.title</span><span class="token pseudo-element">:after</span> </span><span class="token punctuation">{</span>
  <span class="token property">content</span><span class="token punctuation">:</span> <span class="token string">''</span><span class="token punctuation">;</span>
  <span class="token property">position</span><span class="token punctuation">:</span> absolute<span class="token punctuation">;</span>
  <span class="token property">top</span><span class="token punctuation">:</span> <span class="token number">50%</span><span class="token punctuation">;</span>
  <span class="token property">transform</span><span class="token punctuation">:</span> <span class="token function">translateY</span><span class="token punctuation">(</span>-<span class="token number">50%</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
  <span class="token property">left</span><span class="token punctuation">:</span> <span class="token number">100%</span><span class="token punctuation">;</span>
  <span class="token property">margin-left</span><span class="token punctuation">:</span> -<span class="token number">2</span>px<span class="token punctuation">;</span>
  <span class="token property">border</span><span class="token punctuation">:</span> <span class="token number">10</span>px solid<span class="token punctuation">;</span>
  <span class="token property">border-color</span><span class="token punctuation">:</span> transparent <span class="token hexcode">#f00</span> transparent transparent<span class="token punctuation">;</span>
  <span class="token property">opacity</span><span class="token punctuation">:</span> <span class="token number">0</span><span class="token punctuation">;</span>
  <span class="token property">transition</span><span class="token punctuation">:</span> opacity <span class="token number">1</span>s<span class="token punctuation">;</span>
<span class="token punctuation">}</span>

<span class="token selector"><span class="token class">.title</span><span class="token pseudo-class">:hover</span><span class="token pseudo-element">:after</span> </span><span class="token punctuation">{</span>
  <span class="token property">opacity</span><span class="token punctuation">:</span> <span class="token number">1</span><span class="token punctuation">;</span>
<span class="token punctuation">}</span>
</span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>style</span><span class="token punctuation">></span></span>
<span aria-hidden="true" class="line-numbers-rows"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></span></code></pre>
<p>第 2 行</p>
<pre class="line-numbers highlight language-html"><code class="language-html"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>title<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
  Hover over me!
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">></span></span>
<span aria-hidden="true" class="line-numbers-rows"><span></span><span></span><span></span></span></code></pre>
<p>HTML 部分並沒有 tooltip，完全由 CSS 產生。</p>
<p>第 8 行</p>
<pre class="line-numbers highlight language-css"><code class="language-css"><span class="token selector"><span class="token class">.title</span> </span><span class="token punctuation">{</span>
  <span class="token property">position</span><span class="token punctuation">:</span> relative<span class="token punctuation">;</span>
  <span class="token property">top</span><span class="token punctuation">:</span> <span class="token number">20</span>px<span class="token punctuation">;</span>
  <span class="token property">border-bottom</span><span class="token punctuation">:</span> <span class="token number">1</span>px solid <span class="token hexcode">#f00</span><span class="token punctuation">;</span>
  <span class="token property">display</span><span class="token punctuation">:</span> inline-block<span class="token punctuation">;</span>
<span class="token punctuation">}</span>
<span aria-hidden="true" class="line-numbers-rows"><span></span><span></span><span></span><span></span><span></span><span></span></span></code></pre>
<p>設定 title style：</p>
<ul>
<li><code>position: relative</code>：<code>before</code> 與 <code>after</code> 即將使用 absolute position，因此在父層使用 relative position 定位</li>
<li><code>top: 20px</code>：設定 title 上緣與 browser 距離</li>
<li><code>border-bottom: 1px solid #f00</code>：設定 title 下方紅線 underline</li>
<li><code>display: inline-block</code>：使 <code>&lt;div&gt;</code> 與 content 同寬，否則 underline 寬度會一整列，且 tooltip 也會顯示在 browser 之外</li>
</ul>
<p>15 行</p>
<pre class="line-numbers highlight language-css"><code class="language-css"><span class="token selector"><span class="token class">.title</span><span class="token pseudo-element">:before</span> </span><span class="token punctuation">{</span>
  <span class="token property">content</span><span class="token punctuation">:</span> <span class="token string">"I'm tooltip"</span><span class="token punctuation">;</span>
  <span class="token property">position</span><span class="token punctuation">:</span> absolute<span class="token punctuation">;</span>
  <span class="token property">top</span><span class="token punctuation">:</span> <span class="token number">50%</span><span class="token punctuation">;</span>
  <span class="token property">transform</span><span class="token punctuation">:</span> <span class="token function">translateY</span><span class="token punctuation">(</span>-<span class="token number">50%</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
  <span class="token property">left</span><span class="token punctuation">:</span> <span class="token number">100%</span><span class="token punctuation">;</span>
  <span class="token property">margin-left</span><span class="token punctuation">:</span> <span class="token number">18</span>px<span class="token punctuation">;</span>
  <span class="token property">width</span><span class="token punctuation">:</span> <span class="token number">100</span>px<span class="token punctuation">;</span>
  <span class="token property">padding</span><span class="token punctuation">:</span> <span class="token number">10</span>px<span class="token punctuation">;</span>
  <span class="token property">border-radius</span><span class="token punctuation">:</span> <span class="token number">10</span>px<span class="token punctuation">;</span>
  <span class="token property">background</span><span class="token punctuation">:</span> <span class="token hexcode">#f00</span><span class="token punctuation">;</span>
  <span class="token property">color</span><span class="token punctuation">:</span> <span class="token hexcode">#fff</span><span class="token punctuation">;</span>
  <span class="token property">text-align</span><span class="token punctuation">:</span> center<span class="token punctuation">;</span>
  <span class="token property">opacity</span><span class="token punctuation">:</span> <span class="token number">0</span><span class="token punctuation">;</span>
  <span class="token property">transition</span><span class="token punctuation">:</span> opacity <span class="token number">1</span>s<span class="token punctuation">;</span>
<span class="token punctuation">}</span>
<span aria-hidden="true" class="line-numbers-rows"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></span></code></pre>
<p>使用 <code>before</code> 設定 tooltip style：</p>
<ul>
<li><code>content: &quot;I&#39;m tooltip&quot;</code>：設定 tooltip 內容</li>
<li><code>position: absolute</code>：設定使用 absolute postion </li>
<li><code>top: 50%</code>：設定 tooltip 的 <code>top</code> 為父層 <code>title</code> 高度的一半</li>
<li><code>transform: translateY(-50%)</code>：設定 tooltip 向上移動本身高度的一半，此為 <code>垂直置中</code> 慣用 pattern</li>
<li><code>left: 100%</code>：設定 tooltip 的 <code>left</code> 為父層 <code>title</code> 的寬度</li>
<li><code>margin-left: 18px</code>：設定 tooltip 的 left margin 放置三角形</li>
<li><code>width: 100px</code>：設定 tooltip 的 width</li>
<li><code>padding: 10px</code>：設定 tooltip 的 padding</li>
<li><code>border-radius: 10px</code>：設定 tooltip 的四角為弧形</li>
<li><code>background: #f00</code>：設定 tooltip 背景為紅色</li>
<li><code>color: #fff</code>：設定 tooltip 的文字為白色</li>
<li><code>text-align: center</code>：設定 tooltip 文字水平置中</li>
<li><code>opacity: 0</code>：設定 tooltip 一開始不顯示</li>
<li><code>transition: opacity 1s</code>：設定 tooltip 改變 opacity 時，使用 <code>1s</code> 漸漸改變</li>
</ul>
<p>32 行</p>
<pre class="line-numbers highlight language-css"><code class="language-css"><span class="token selector"><span class="token class">.title</span><span class="token pseudo-class">:hover</span><span class="token pseudo-element">:before</span> </span><span class="token punctuation">{</span>
  <span class="token property">opacity</span><span class="token punctuation">:</span> <span class="token number">1</span><span class="token punctuation">;</span>
<span class="token punctuation">}</span>
<span aria-hidden="true" class="line-numbers-rows"><span></span><span></span><span></span></span></code></pre>
<p>當 hover 過 title 時，設定 tooltip style：</p>
<ul>
<li><code>opacity: 1</code>：設定 tooltip 顯示</li>
</ul>
<blockquote>
<p><code>title:hover:before</code> 相當於 CSS 的 <code>hover</code> event handler</p>
</blockquote>
<p>36 行</p>
<pre class="line-numbers highlight language-css"><code class="language-css"><span class="token selector"><span class="token class">.title</span><span class="token pseudo-element">:after</span> </span><span class="token punctuation">{</span>
  <span class="token property">content</span><span class="token punctuation">:</span> <span class="token string">''</span><span class="token punctuation">;</span>
  <span class="token property">position</span><span class="token punctuation">:</span> absolute<span class="token punctuation">;</span>
  <span class="token property">top</span><span class="token punctuation">:</span> <span class="token number">50%</span><span class="token punctuation">;</span>
  <span class="token property">transform</span><span class="token punctuation">:</span> <span class="token function">translateY</span><span class="token punctuation">(</span>-<span class="token number">50%</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
  <span class="token property">left</span><span class="token punctuation">:</span> <span class="token number">100%</span><span class="token punctuation">;</span>
  <span class="token property">margin-left</span><span class="token punctuation">:</span> -<span class="token number">2</span>px<span class="token punctuation">;</span>
  <span class="token property">border</span><span class="token punctuation">:</span> <span class="token number">10</span>px solid<span class="token punctuation">;</span>
  <span class="token property">border-color</span><span class="token punctuation">:</span> transparent <span class="token hexcode">#f00</span> transparent transparent<span class="token punctuation">;</span>
  <span class="token property">opacity</span><span class="token punctuation">:</span> <span class="token number">0</span><span class="token punctuation">;</span>
  <span class="token property">transition</span><span class="token punctuation">:</span> opacity <span class="token number">1</span>s<span class="token punctuation">;</span>
<span class="token punctuation">}</span>
<span aria-hidden="true" class="line-numbers-rows"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></span></code></pre>
<p>使用 <code>after</code> 設定 triangle style：</p>
<ul>
<li><code>content: &#39;&#39;</code>：將 <code>content</code> 設定為 empty string，避免 triangle 不顯示</li>
<li><code>position: absolute</code>：設定使用 absolute postion </li>
<li><code>top: 50%</code>：設定 triangle 的 <code>top</code> 為父層 <code>title</code> 高度的一半</li>
<li><code>transform: translateY(-50%)</code>：設定 triangle 向上移動本身高度的一半，此為 <code>垂直置中</code> 慣用 pattern</li>
<li><code>left: 100%</code>：設定 triangle 的 <code>left</code> 為父層 <code>title</code> 的寬度</li>
<li><code>margin-left: -2px</code>：設定 triangle 與 <code>title</code> 間距離</li>
<li><code>border: 10px solid</code>：因為 triangle 主要是由 border 實現，統一設定 border 為 <code>10px</code> 與 <code>solid</code></li>
<li><code>border-color: transparent #f00 transparent transparent</code>：設定四個 border 顏色</li>
<li><code>opacity: 0</code>：設定 triangle 一開始不顯示</li>
<li><code>transition: opacity 1s</code>：設定 tooltip 改變 opacity 時，使用 <code>1s</code> 漸漸改變</li>
</ul>
<p>49 行</p>
<pre class="line-numbers highlight language-css"><code class="language-css"><span class="token selector"><span class="token class">.title</span><span class="token pseudo-class">:hover</span><span class="token pseudo-element">:after</span> </span><span class="token punctuation">{</span>
  <span class="token property">opacity</span><span class="token punctuation">:</span> <span class="token number">1</span><span class="token punctuation">;</span>
<span class="token punctuation">}</span>
<span aria-hidden="true" class="line-numbers-rows"><span></span><span></span><span></span></span></code></pre>
<p>當 hover 過 title 時，設定 triangle style：</p>
<ul>
<li><code>opacity: 1</code>：設定 triangle 顯示</li>
</ul>
<blockquote>
<p><code>title:hover:after</code> 相當於 CSS 的 <code>hover</code> event handler</p>
</blockquote>
<h2 id="Conclusion"><a href="#Conclusion" class="headerlink" title="Conclusion"></a>Conclusion</h2><ul>
<li>實現 tooltip 需包括相當多 CSS 技巧：<ul>
<li>使用 <code>before</code> 顯示 tooltip</li>
<li>使用 <code>after</code> 顯示 triangle</li>
<li>使用 <code>relative/absolute</code> 定位 tooltip 與 triangle</li>
<li>使用 <code>transform</code> 垂直置中</li>
<li>使用 <code>transform</code> 實現 fade-in &#x2F; fade-out</li>
<li>使用 <code>border</code> 畫 triangle</li>
</ul>
</li>
</ul>
<h2 id="Reference"><a href="#Reference" class="headerlink" title="Reference"></a>Reference</h2><p><a href="https://logrocket.com/" target="_blank" rel="noopener">LogRocket</a>, <a href="https://blog.logrocket.com/creating-beautiful-tooltips-with-only-css/" target="_blank" rel="noopener">Creating beaufiful tooltips with only CSS</a></p>

          </article>
          <p class="post-footer-info mb-0 pt-2">
  
  
  <span class="post-tags-list mt-2">
    
    
    <a class="post-tags-list-item" href='/tags/CSS/'>#&nbsp;CSS</a>
    
  </span>
  
</p>
        </div>
        <div class="post-nav px-2 bg-gray">
	<ul class="pagination">
		<!-- Prev Nav -->
		
		<li class="page-item page-prev">
			<a href="/css/cookbook/component/tooltip2/">
				<div class="page-item-title"><i class="icon icon-back" aria-hidden="true"></i></div>
				<div class="page-item-subtitle">實作 Tooltip (JavaScript + CSS)</div>
			</a>
		</li>
		
		<!-- Next Nav -->
		
		<li class="page-item page-next">
			<a href="/css/cookbook/layout/auto-width/">
				<div class="page-item-title"><i class="icon icon-forward" aria-hidden="true"></i></div>
				<div class="page-item-subtitle">自動均分所有 Column</div>
			</a>
		</li>
		
	</ul>
</div>
      </div>
    </div>
  </div>
</div>


  <footer class="text-center">
  <p class="footer-copyright mb-0">Copyright&nbsp;©&nbsp;<span data-year></span>
    <a href="mailto:oomusou@gmail.com" class="footer-copyright-a" href="https://yabai.tw">點燈坊</a>
  </p>
</footer>

  <!-- ### Footer JS Import ### -->
<script>
  window.lazyLoadOptions = {
    elements_selector: ".lazyload",
    threshold: 50
  };

  /* Copyright */
  var copyrightNow = new Date().getFullYear();
  var copyrightContent = document.querySelector('span[data-year]')
  copyrightSince = 2015;
  copyrightContent.textContent = copyrightSince + ' - ' + copyrightNow;
</script>
<!-- vanilla-lazyload -->

<script src="/lib/vanilla-lazyload/lazyload.min.js" async></script>




<!-- gallery.js -->

<!-- Comment -->

<!-- ### Custom Footer ### -->

  </body>
</html>