<!DOCTYPE html>
<html 
>
  <head>
  <meta charset="utf-8">
  <!-- ### DNS Prefetch ### -->
  <meta http-equiv="x-dns-prefetch-control" content="on">
<!-- busuanzi -->

<!-- comment -->






<!-- analytics -->






  <!-- ### Preload ### -->
  

  <!-- ### Meta & Title & Info ### -->
  <meta http-equiv="X-UA-Compatible" content="IE=Edge, chrome=1">
<meta name="renderer" content="webkit">
<meta name="viewport"
  content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
<!-- Title -->
<title>Container 為 Widget 添加 Style | 點燈坊</title>
<!-- favicon -->
<!-- Favicons -->

<link rel="shortcut icon" type="image/ico" href="/favicon.ico">


<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">



<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">


<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ff2601">
<!-- Android Chrome Color -->

<meta name="format-detection" content="telephone=no">
<!-- Description -->
<meta name="description" content="當要對原本 Widget 加上 背景顏色、Margin、Padding、外框、Alignment、旋轉…時，可在 Widget 外加上 Container 實現。">
<!-- Keywords -->
<meta name="keywords" content=", Flutter">
<!-- Disable Fucking Bloody Baidu Tranformation -->
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
  <!-- ### Import File ### -->
  
    <!-- spectre.css -->

<link rel="stylesheet" href="/lib/spectre/spectre.min.css">

<style>
body {
  background-color: #f8f9fa
}

a,
a:visited {
  color: #0070ff
}

a:active,
a:focus,
a:hover {
  color: #0070ff;
  opacity: .75;
}

.avatar {
  background: #444
}

.navbar-link,
.navbar-link:visited,
.timeline .timeline-item .timeline-icon.icon-lg {
  color: #0070ff
}

.navbar-link:hover {
  color: #0070ff;
  opacity: .8;
}

#search-input .btn,
#disqus_click_btn,
#disqus-switch-to-direct,
#disqus-loadmore-button {
  background: #727e96;
  border-color: #727e96;
  color: #fff;
}

#post-toc a.post-toc-link,
#post-toc a.post-toc-link:visited,
.share-menu.menu .menu-item > a {
  color: #727e96
}

.share-menu.menu .menu-item > a:hover,
.share-menu.menu .menu-item > a:focus,
.share-menu.menu .menu-item > a:visited {
  color: #50596c;
  background: #f8f9fa;
  opacity: .85;
}
</style>

<!-- style.css -->

<link rel="stylesheet" href="/css/style.min.css">


<!-- prism.css -->

    <!-- prism.line_number -->
    
        
            <link rel="stylesheet" href="/lib/prism/prism-line-numbers.min.css">
        
    
    <!-- prism.theme -->
    
        <link rel="stylesheet" href="/lib/prism/prism-darcula.min.css">
    




  
  <!-- ### Site Verification ### -->
  

  <!-- ### RSS ### -->
  

<link rel="alternate" type="application/atom+xml" href="/atom.xml">


  <!-- ### WebApp ### -->
  <meta name="mobile-web-app-capable" content="yes">
<meta name="application-name" content="點燈坊">
<meta name="msapplication-starturl" content="https://yabai.tw">

<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="點燈坊">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<!-- Manifest Import -->

<link rel="manifest" href="/site.webmanifest">

<!-- Open Search -->

  <!-- ### The Open Graph & Twitter Card Protocol ### -->
  <meta property="og:title" content="Container 為 Widget 添加 Style | 點燈坊">
<meta property="og:site_name" content="點燈坊">

<meta property="og:url" content="https://yabai.tw/flutter/layout/container/">
<meta property="og:image"
	content="https://yabai.tw/apple-touch-icon.png">
<meta property="og:description" content="當要對原本 Widget 加上 背景顏色、Margin、Padding、外框、Alignment、旋轉…時，可在 Widget 外加上 Container 實現。">
<meta name="twitter:card" content="summary">

<meta property="og:type" content="article">
<meta property="article:published_time" content="2024-09-05T00:15:06.000Z">
<meta property="article:modified_time" content="2024-09-05T00:15:06.000Z">
<meta property="article:author" content="Sam Xiao">
<meta property="og:article:tag" content=", Flutter">


  <!-- ### Analytics ### -->
  





  <!-- ### Canonical link ### -->
  <link rel="canonical" href="https://yabai.tw/flutter/layout/container/">
  <!-- ### Structured Data ### -->
  

<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "url": "https://yabai.tw/flutter/layout/container/",
    "@type": "BlogPosting",
    "logo": "https://yabai.tw/apple-touch-icon.png",
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://yabai.tw/flutter/layout/container/"
    },
    "headline": "Container 為 Widget 添加 Style | 點燈坊",
    
    "image": {
        "@type": "ImageObject",
        "url": "https://yabai.tw/apple-touch-icon.png"
    },
    
    "datePublished": "2024-09-05T00:15:06.000Z",
    "dateModified": "2024-09-05T00:33:52.692Z",
    "author": {
        "@type": "Person",
        "name": "Sam Xiao",
        "image": {
            "@type": "ImageObject",
            "url": "https://yabai.tw/img/default_avatar.png"
        },
        "description": "失くすものさえない今が強くなるチャンスよ"
    },
    "publisher": {
        "@type": "Organization",
        "name": "點燈坊",
        "logo": {
            "@type": "ImageObject",
            "url": "https://yabai.tw/apple-touch-icon.png"
        }
    },
    
    "potentialAction": {
        "@type": "SearchAction",
        "target": "https://yabai.tw/search?s={search_term_string}",
        "query-input": "required name=search_term_string"
    },
    
    "keywords": ", Flutter",
    "description": "當要對原本 Widget 加上 背景顏色、Margin、Padding、外框、Alignment、旋轉…時，可在 Widget 外加上 Container 實現。"
}
</script>

  <!-- ### Custom Head ### -->
  
<meta name="generator" content="Hexo 4.2.1"></head>
  <body>
  <header>
  <h1 class="header-title text-center">
    <a href="/">
      點燈坊
    </a>
  </h1>
  <p class="text-center header-slogan">
    失くすものさえない今が強くなるチャンスよ
  </p>
  <script>
  let titleFontSizes;
  let bodyFontSizes;
  let contentFontSizes;
  let archiveFontSizes;
  let searchTitleFontSizes;
  let searchBodyFontSizes;

  let getFontSize = ({ selector }) => {
    let element = document.querySelector(selector);

    if (element !== null) {
      let oriFontSize = window.getComputedStyle(element).fontSize;
      let incFontSize = parseInt(oriFontSize) * 1.2 + 'px';

      return [
        oriFontSize,
        incFontSize
      ];
    }

    return [0, 0];
  };

  let setFontSize = ({ selector, fontSize }) => document.querySelectorAll(selector).forEach(
    x => x.style['font-size'] = fontSize
  );

  let readFontSize = ({ key, value }) => {
    if (localStorage.getItem(key) !== null) {
      return localStorage.getItem(key);
    }
    else {
      return value;
    }
  };

  let writeFontSize = ({ key, fontSize }) => localStorage.setItem(key, fontSize);

  let loadFontSize = () => {
    // home
    setFontSize({
      selector: '.post-entry a.card-title',
      fontSize: readFontSize({ key: 'title', value: titleFontSizes[0] })
    });

    setFontSize({
      selector: '.post-entry .card-body' ,
      fontSize: readFontSize({ key: 'body', value: bodyFontSizes[0] })
    });

    // post
    setFontSize({
      selector: '#post-content',
      fontSize: readFontSize({ key: 'content', value: contentFontSizes[0] })
    });

    // archive
    setFontSize({
      selector: '.tile-title',
      fontSize: readFontSize({ key: 'archive', value: archiveFontSizes[0] })
    });

    // search
    setFontSize({
      selector: '.search-title',
      fontSize: readFontSize({ key: 'search-title', value: searchTitleFontSizes[0] })
    });

    setFontSize({
      selector: '.search-result-summary',
      fontSize: readFontSize({ key: 'search-body', value: searchBodyFontSizes[0] })
    });
  }

  let toggleFontSize = ({ selector, key, fontSizes }) => {
    let element = document.querySelector(selector);

    if (element !== null) {
      let fontSize = window.getComputedStyle(element).fontSize;

      if (fontSize === fontSizes[0]) {
        setFontSize({ selector, fontSize: fontSizes[1] });
        writeFontSize({ key, fontSize: fontSizes[1]})
      } else {
        setFontSize({ selector, fontSize: fontSizes[0] });
        writeFontSize({ key, fontSize: fontSizes[0] });
      }
    }
  };

  let increaseFontSize = () => {
    // home
    toggleFontSize({
      selector: '.post-entry a.card-title',
      key: 'title',
      fontSizes: titleFontSizes
    });

    toggleFontSize({
      selector: '.post-entry .card-body',
      key: 'body',
      fontSizes: bodyFontSizes
    });

    // post
    toggleFontSize({
      selector: '#post-content',
      key: 'content',
      fontSizes: contentFontSizes
    });

    // archive
    toggleFontSize({
      selector: '.tile-title',
      key: 'archive',
      fontSizes: archiveFontSizes
    });

    // search
    toggleFontSize({
      selector: '.search-title',
      key: 'search-title',
      fontSizes: searchTitleFontSizes
    });

    toggleFontSize({
      selector: '.search-result-summary',
      key: 'search-body',
      fontSizes: searchBodyFontSizes
    });
  };

  window.onload = function () {
    titleFontSizes = getFontSize({ selector: '.post-entry a.card-title' });
    bodyFontSizes = getFontSize({ selector: '.post-entry .card-body' });
    contentFontSizes = getFontSize({ selector: '#post-content' });
    archiveFontSizes = getFontSize({ selector: '.tile-title' });
    searchTitleFontSizes = getFontSize({ selector: '.search-title'});
    searchBodyFontSizes = getFontSize({ selector: '.search-result-summary'});

    loadFontSize();
  };
</script>
<nav class="navbar-section text-center">
  <div class="columns">
    <div class="column col-1"></div>
    <div class="column col-10 col-sm-12 align-content-center">
      <a href="/" class="navbar-link">ホーム</a>
      <a href="/series/" class="navbar-link">シリーズ</a>
      <a href="/tags/" class="navbar-link">タグ</a>
      <a href="/search" class="navbar-link">検索</a>
<!--      <a href="/atom.xml" target="_blank" class="navbar-link">RSS</a>-->
    </div>
    <div class="column col-1 increase-font-size">
      <a class="hide-sm" style="cursor: pointer;" onclick="increaseFontSize()"><img
          src="/images/svg/font-size.svg"
          alt="font size" class="font-size"></a>
    </div>
  </div>
</nav>

</header>
  
<!-- ## Post ## -->
<div class="post-container">
  <div id="post-card" class="card">
    <div class="card-item-container">
      <div class="card-inner-cell">
        <div class="card-header">
          
<h1 class="card-title h3 mb-2">Container 為 Widget 添加 Style</h1>


<div class="post-header-info">
	<img class="author-thumb lazyload" data-src="/img/default_avatar.png" src="/img/suka-lazyload.gif"
		alt="Sam Xiao's Avatar">
	<span>2024-09-05</span>
</div>

        </div>
        <div class="card-body">
          <article id="post-content">
            <p>當要對原本 Widget 加上 <code>背景顏色</code>、<code>Margin</code>、<code>Padding</code>、<code>外框</code>、<code>Alignment</code>、<code>旋轉</code>…時，可在 Widget 外加上 <code>Container</code> 實現。</p>
<a id="more"></a>

<h2 id="Version"><a href="#Version" class="headerlink" title="Version"></a>Version</h2><p>Flutter 3.24</p>
<h2 id="Color"><a href="#Color" class="headerlink" title="Color"></a>Color</h2><p><img src="/images/flutter/layout/container/container01.webp" alt="container01"></p>
<ul>
<li><code>Hello World</code> 的 <code>背景色</code> 為 <code>土黃色</code></li>
<li><code>Text</code> 並 <code>沒有</code> 提供屬性設定 <code>color</code></li>
</ul>
<pre class="line-numbers highlight language-dart"><code class="language-dart"><span class="token keyword">import</span> <span class="token string">'package:flutter/material.dart'</span><span class="token punctuation">;</span>

<span class="token keyword">class</span> <span class="token class-name">Home</span> <span class="token keyword">extends</span> <span class="token class-name">StatelessWidget</span> <span class="token punctuation">{</span>
  <span class="token keyword">const</span> <span class="token function">Home</span><span class="token punctuation">(</span><span class="token punctuation">{</span><span class="token keyword">super</span><span class="token punctuation">.</span>key<span class="token punctuation">}</span><span class="token punctuation">)</span><span class="token punctuation">;</span>

  <span class="token metadata symbol">@override</span>
  Widget <span class="token function">build</span><span class="token punctuation">(</span>BuildContext context<span class="token punctuation">)</span> <span class="token punctuation">{</span>
    <span class="token keyword">return</span> <span class="token function">Scaffold</span><span class="token punctuation">(</span>
        body<span class="token punctuation">:</span> <span class="token function">Center</span><span class="token punctuation">(</span>
            child<span class="token punctuation">:</span> <span class="token function">Container</span><span class="token punctuation">(</span>
                color<span class="token punctuation">:</span> Colors<span class="token punctuation">.</span>amber<span class="token punctuation">,</span>
                child<span class="token punctuation">:</span> <span class="token keyword">const</span> <span class="token function">Text</span><span class="token punctuation">(</span>
                    style<span class="token punctuation">:</span> <span class="token function">TextStyle</span><span class="token punctuation">(</span>fontSize<span class="token punctuation">:</span> <span class="token number">30</span><span class="token punctuation">)</span><span class="token punctuation">,</span> <span class="token string">'Hello World'</span><span class="token punctuation">)</span><span class="token punctuation">)</span><span class="token punctuation">)</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
  <span class="token punctuation">}</span>
<span class="token punctuation">}</span>
<span aria-hidden="true" class="line-numbers-rows"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></span></code></pre>
<ul>
<li>將 <code>Text</code> 包在 <code>Container</code> 內</li>
<li><code>color</code>：設定 <code>Container</code> 的顏色為 <code>Text</code> 的背景色</li>
</ul>
<h2 id="Padding"><a href="#Padding" class="headerlink" title="Padding"></a>Padding</h2><p><img src="/images/flutter/layout/container/container02.webp" alt="container02"></p>
<ul>
<li><code>Hello World</code> 的四周圍保留有 padding</li>
<li><code>Text</code> 並 <code>沒有</code> 提供屬性設定 <code>padding</code></li>
</ul>
<pre class="line-numbers highlight language-dart"><code class="language-dart"><span class="token keyword">import</span> <span class="token string">'package:flutter/material.dart'</span><span class="token punctuation">;</span>

<span class="token keyword">class</span> <span class="token class-name">Home</span> <span class="token keyword">extends</span> <span class="token class-name">StatelessWidget</span> <span class="token punctuation">{</span>
  <span class="token keyword">const</span> <span class="token function">Home</span><span class="token punctuation">(</span><span class="token punctuation">{</span><span class="token keyword">super</span><span class="token punctuation">.</span>key<span class="token punctuation">}</span><span class="token punctuation">)</span><span class="token punctuation">;</span>

  <span class="token metadata symbol">@override</span>
  Widget <span class="token function">build</span><span class="token punctuation">(</span>BuildContext context<span class="token punctuation">)</span> <span class="token punctuation">{</span>
    <span class="token keyword">return</span> <span class="token function">Scaffold</span><span class="token punctuation">(</span>
        body<span class="token punctuation">:</span> <span class="token function">Center</span><span class="token punctuation">(</span>
            child<span class="token punctuation">:</span> <span class="token function">Container</span><span class="token punctuation">(</span>
                color<span class="token punctuation">:</span> Colors<span class="token punctuation">.</span>amber<span class="token punctuation">,</span>
                padding<span class="token punctuation">:</span> <span class="token keyword">const</span> EdgeInsets<span class="token punctuation">.</span><span class="token function">all</span><span class="token punctuation">(</span><span class="token number">20</span><span class="token punctuation">)</span><span class="token punctuation">,</span>
                child<span class="token punctuation">:</span> <span class="token keyword">const</span> <span class="token function">Text</span><span class="token punctuation">(</span>
                    style<span class="token punctuation">:</span> <span class="token function">TextStyle</span><span class="token punctuation">(</span>fontSize<span class="token punctuation">:</span> <span class="token number">30</span><span class="token punctuation">)</span><span class="token punctuation">,</span> <span class="token string">'Hello World'</span><span class="token punctuation">)</span><span class="token punctuation">)</span><span class="token punctuation">)</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
  <span class="token punctuation">}</span>
<span class="token punctuation">}</span>
<span aria-hidden="true" class="line-numbers-rows"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></span></code></pre>
<ul>
<li>將 <code>Text</code> 包在 <code>Container</code> 內</li>
<li><code>padding</code>：設定 <code>Container</code> 對內的 padding</li>
</ul>
<h2 id="Margin"><a href="#Margin" class="headerlink" title="Margin"></a>Margin</h2><p><img src="/images/flutter/layout/container/container03.webp" alt="container03"></p>
<ul>
<li><code>Hello World</code> 對內除了保留有 padding 外，對外還保有 margin</li>
<li><code>Text</code> 並 <code>沒有</code> 提供屬性設定 <code>margin</code></li>
</ul>
<pre class="line-numbers highlight language-dart"><code class="language-dart"><span class="token keyword">import</span> <span class="token string">'package:flutter/material.dart'</span><span class="token punctuation">;</span>

<span class="token keyword">class</span> <span class="token class-name">Home</span> <span class="token keyword">extends</span> <span class="token class-name">StatelessWidget</span> <span class="token punctuation">{</span>
  <span class="token keyword">const</span> <span class="token function">Home</span><span class="token punctuation">(</span><span class="token punctuation">{</span><span class="token keyword">super</span><span class="token punctuation">.</span>key<span class="token punctuation">}</span><span class="token punctuation">)</span><span class="token punctuation">;</span>

  <span class="token metadata symbol">@override</span>
  Widget <span class="token function">build</span><span class="token punctuation">(</span>BuildContext context<span class="token punctuation">)</span> <span class="token punctuation">{</span>
    <span class="token keyword">return</span> <span class="token function">Scaffold</span><span class="token punctuation">(</span>
        body<span class="token punctuation">:</span> <span class="token function">Center</span><span class="token punctuation">(</span>
            child<span class="token punctuation">:</span> <span class="token function">Container</span><span class="token punctuation">(</span>
                color<span class="token punctuation">:</span> Colors<span class="token punctuation">.</span>blue<span class="token punctuation">,</span>
                child<span class="token punctuation">:</span> <span class="token function">Container</span><span class="token punctuation">(</span>
                  color<span class="token punctuation">:</span> Colors<span class="token punctuation">.</span>amber<span class="token punctuation">,</span>
                  padding<span class="token punctuation">:</span> <span class="token keyword">const</span> EdgeInsets<span class="token punctuation">.</span><span class="token function">all</span><span class="token punctuation">(</span><span class="token number">20</span><span class="token punctuation">)</span><span class="token punctuation">,</span>
                  margin<span class="token punctuation">:</span> <span class="token keyword">const</span> EdgeInsets<span class="token punctuation">.</span><span class="token function">all</span><span class="token punctuation">(</span><span class="token number">20</span><span class="token punctuation">)</span><span class="token punctuation">,</span>
                  child<span class="token punctuation">:</span>
                      <span class="token keyword">const</span> <span class="token function">Text</span><span class="token punctuation">(</span>style<span class="token punctuation">:</span> <span class="token function">TextStyle</span><span class="token punctuation">(</span>fontSize<span class="token punctuation">:</span> <span class="token number">30</span><span class="token punctuation">)</span><span class="token punctuation">,</span> <span class="token string">'Hello World'</span><span class="token punctuation">)</span><span class="token punctuation">,</span>
                <span class="token punctuation">)</span><span class="token punctuation">)</span><span class="token punctuation">)</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
  <span class="token punctuation">}</span>
<span class="token punctuation">}</span>
<span aria-hidden="true" class="line-numbers-rows"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></span></code></pre>
<ul>
<li>將 <code>Container</code> 包在 <code>Container</code> 內</li>
<li><code>margin</code>：設定 <code>Container</code> 對外的 margin</li>
</ul>
<h2 id="Decoration"><a href="#Decoration" class="headerlink" title="Decoration"></a>Decoration</h2><p><img src="/images/flutter/layout/container/container04.webp" alt="container04"></p>
<ul>
<li><code>Hello World</code> 的四周圍除了有 padding 外，四個角還有弧度</li>
<li><code>Text</code> 並 <code>沒有</code> 提供屬性設定 <code>borderRadius</code></li>
</ul>
<pre class="line-numbers highlight language-dart"><code class="language-dart"><span class="token keyword">import</span> <span class="token string">'package:flutter/material.dart'</span><span class="token punctuation">;</span>

<span class="token keyword">class</span> <span class="token class-name">Home</span> <span class="token keyword">extends</span> <span class="token class-name">StatelessWidget</span> <span class="token punctuation">{</span>
  <span class="token keyword">const</span> <span class="token function">Home</span><span class="token punctuation">(</span><span class="token punctuation">{</span><span class="token keyword">super</span><span class="token punctuation">.</span>key<span class="token punctuation">}</span><span class="token punctuation">)</span><span class="token punctuation">;</span>

  <span class="token metadata symbol">@override</span>
  Widget <span class="token function">build</span><span class="token punctuation">(</span>BuildContext context<span class="token punctuation">)</span> <span class="token punctuation">{</span>
    <span class="token keyword">return</span> <span class="token function">Scaffold</span><span class="token punctuation">(</span>
        body<span class="token punctuation">:</span> <span class="token function">Center</span><span class="token punctuation">(</span>
            child<span class="token punctuation">:</span> <span class="token function">Container</span><span class="token punctuation">(</span>
      decoration<span class="token punctuation">:</span> <span class="token function">BoxDecoration</span><span class="token punctuation">(</span>
        color<span class="token punctuation">:</span> Colors<span class="token punctuation">.</span>blue<span class="token punctuation">,</span>
        borderRadius<span class="token punctuation">:</span> <span class="token keyword">const</span> BorderRadius<span class="token punctuation">.</span><span class="token function">all</span><span class="token punctuation">(</span>Radius<span class="token punctuation">.</span><span class="token function">circular</span><span class="token punctuation">(</span><span class="token number">18.0</span><span class="token punctuation">)</span><span class="token punctuation">)</span><span class="token punctuation">,</span>
        border<span class="token punctuation">:</span> Border<span class="token punctuation">.</span><span class="token function">all</span><span class="token punctuation">(</span>width<span class="token punctuation">:</span> <span class="token number">1.0</span><span class="token punctuation">,</span> color<span class="token punctuation">:</span> Colors<span class="token punctuation">.</span>blue<span class="token punctuation">)</span><span class="token punctuation">,</span>
      <span class="token punctuation">)</span><span class="token punctuation">,</span>
      padding<span class="token punctuation">:</span> <span class="token keyword">const</span> EdgeInsets<span class="token punctuation">.</span><span class="token function">symmetric</span><span class="token punctuation">(</span>vertical<span class="token punctuation">:</span> <span class="token number">10</span><span class="token punctuation">,</span> horizontal<span class="token punctuation">:</span> <span class="token number">50</span><span class="token punctuation">)</span><span class="token punctuation">,</span>
      child<span class="token punctuation">:</span> <span class="token keyword">const</span> <span class="token function">Text</span><span class="token punctuation">(</span>style<span class="token punctuation">:</span> <span class="token function">TextStyle</span><span class="token punctuation">(</span>fontSize<span class="token punctuation">:</span> <span class="token number">30</span><span class="token punctuation">)</span><span class="token punctuation">,</span> <span class="token string">'Hello World'</span><span class="token punctuation">)</span><span class="token punctuation">,</span>
    <span class="token punctuation">)</span><span class="token punctuation">)</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
  <span class="token punctuation">}</span>
<span class="token punctuation">}</span>
<span aria-hidden="true" class="line-numbers-rows"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></span></code></pre>
<ul>
<li>將 <code>Text</code> 包在 <code>Container</code> 內</li>
<li><code>decoration</code>：設定 <code>Container</code> 的 style<ul>
<li><code>borderRadius</code>：設定 border 的弧度</li>
<li><code>border</code>：設定 border 的寬度、顏色</li>
</ul>
</li>
</ul>
<h2 id="Alignment"><a href="#Alignment" class="headerlink" title="Alignment"></a>Alignment</h2><p><img src="/images/flutter/layout/container/container07.webp" alt="container07"></p>
<ul>
<li><code>Hello World</code> 的位置 <code>垂直靠左</code></li>
<li><code>Text</code> 並 <code>沒有</code> 提供屬性設定 <code>alignment</code></li>
<li><code>Container</code> 的 <code>長寬</code> 受 <code>alignment</code> 影響，會自動研展成 <code>外層容器</code> 的 <code>長寬</code></li>
</ul>
<pre class="line-numbers highlight language-dart"><code class="language-dart"><span class="token keyword">import</span> <span class="token string">'package:flutter/material.dart'</span><span class="token punctuation">;</span>

<span class="token keyword">class</span> <span class="token class-name">Home</span> <span class="token keyword">extends</span> <span class="token class-name">StatelessWidget</span> <span class="token punctuation">{</span>
  <span class="token keyword">const</span> <span class="token function">Home</span><span class="token punctuation">(</span><span class="token punctuation">{</span><span class="token keyword">super</span><span class="token punctuation">.</span>key<span class="token punctuation">}</span><span class="token punctuation">)</span><span class="token punctuation">;</span>

  <span class="token metadata symbol">@override</span>
  Widget <span class="token function">build</span><span class="token punctuation">(</span>BuildContext context<span class="token punctuation">)</span> <span class="token punctuation">{</span>
    <span class="token keyword">return</span> <span class="token function">Scaffold</span><span class="token punctuation">(</span>
        body<span class="token punctuation">:</span> <span class="token function">Center</span><span class="token punctuation">(</span>
            child<span class="token punctuation">:</span> <span class="token function">Container</span><span class="token punctuation">(</span>
                alignment<span class="token punctuation">:</span> Alignment<span class="token punctuation">.</span>centerLeft<span class="token punctuation">,</span>
                color<span class="token punctuation">:</span> Colors<span class="token punctuation">.</span>amber<span class="token punctuation">,</span>
                child<span class="token punctuation">:</span> <span class="token keyword">const</span> <span class="token function">Text</span><span class="token punctuation">(</span>
                    style<span class="token punctuation">:</span> <span class="token function">TextStyle</span><span class="token punctuation">(</span>fontSize<span class="token punctuation">:</span> <span class="token number">30</span><span class="token punctuation">)</span><span class="token punctuation">,</span> <span class="token string">'Hello World'</span><span class="token punctuation">)</span><span class="token punctuation">)</span><span class="token punctuation">)</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
  <span class="token punctuation">}</span>
<span class="token punctuation">}</span>
<span aria-hidden="true" class="line-numbers-rows"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></span></code></pre>
<ul>
<li>將 <code>Text</code> 包在 <code>Container</code> 內</li>
<li><code>alignment</code>：設定子元素對於 <code>Container</code> 的 alignment，但 Container 的 <code>width</code> 與 <code>height</code> 會被影響成為外層容器的 <code>width</code> 與 <code>height</code></li>
</ul>
<h2 id="Width、Height"><a href="#Width、Height" class="headerlink" title="Width、Height"></a>Width、Height</h2><p><img src="/images/flutter/layout/container/container06.webp" alt="container06"></p>
<ul>
<li><code>Hello World</code> 的位置 <code>垂直靠左</code></li>
<li><code>Text</code> widget 並 <code>沒有</code> 提供屬性設定 <code>alignment</code></li>
<li>重新設定 Container 的 <code>width</code> 與 <code>height</code></li>
</ul>
<pre class="line-numbers highlight language-dart"><code class="language-dart"><span class="token keyword">import</span> <span class="token string">'package:flutter/material.dart'</span><span class="token punctuation">;</span>

<span class="token keyword">class</span> <span class="token class-name">Home</span> <span class="token keyword">extends</span> <span class="token class-name">StatelessWidget</span> <span class="token punctuation">{</span>
  <span class="token keyword">const</span> <span class="token function">Home</span><span class="token punctuation">(</span><span class="token punctuation">{</span><span class="token keyword">super</span><span class="token punctuation">.</span>key<span class="token punctuation">}</span><span class="token punctuation">)</span><span class="token punctuation">;</span>

  <span class="token metadata symbol">@override</span>
  Widget <span class="token function">build</span><span class="token punctuation">(</span>BuildContext context<span class="token punctuation">)</span> <span class="token punctuation">{</span>
    <span class="token keyword">return</span> <span class="token function">Scaffold</span><span class="token punctuation">(</span>
        body<span class="token punctuation">:</span> <span class="token function">Center</span><span class="token punctuation">(</span>
            child<span class="token punctuation">:</span> <span class="token function">Container</span><span class="token punctuation">(</span>
                alignment<span class="token punctuation">:</span> Alignment<span class="token punctuation">.</span>centerLeft<span class="token punctuation">,</span>
                width<span class="token punctuation">:</span> <span class="token number">200</span><span class="token punctuation">,</span>
                height<span class="token punctuation">:</span> <span class="token number">100</span><span class="token punctuation">,</span>
                color<span class="token punctuation">:</span> Colors<span class="token punctuation">.</span>amber<span class="token punctuation">,</span>
                child<span class="token punctuation">:</span> <span class="token keyword">const</span> <span class="token function">Text</span><span class="token punctuation">(</span>
                    style<span class="token punctuation">:</span> <span class="token function">TextStyle</span><span class="token punctuation">(</span>fontSize<span class="token punctuation">:</span> <span class="token number">30</span><span class="token punctuation">)</span><span class="token punctuation">,</span> <span class="token string">'Hello World'</span><span class="token punctuation">)</span><span class="token punctuation">)</span><span class="token punctuation">)</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
  <span class="token punctuation">}</span>
<span class="token punctuation">}</span>
<span aria-hidden="true" class="line-numbers-rows"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></span></code></pre>
<ul>
<li>將 <code>Text</code> 包在 <code>Container</code> 內</li>
<li><code>alignment</code>：設定子元素對於 <code>Container</code> 的 alignment，但 Container 的 <code>width</code> 與 <code>height</code> 會被影響成為外層容器的 <code>width</code> 與 <code>height</code></li>
<li><code>width</code>：重新設定 Container 的 <code>width</code></li>
<li><code>height</code>：重新設定 Container 的 <code>height</code></li>
</ul>
<blockquote>
<p>雖然重新設定 width 與 height 可以解決 width 與 height 被 alignment 更改的事實，但寫死 width 與 height 顯然不是最好的方法 </p>
</blockquote>
<h2 id="Child-Container"><a href="#Child-Container" class="headerlink" title="Child Container"></a>Child Container</h2><p><img src="/images/flutter/layout/container/container08.webp" alt="container08"></p>
<ul>
<li><code>Hello World</code> 的位置 <code>垂直靠左</code>，且 Container 雖著 Hello World 的長寬而變，並沒有寫死 width 與 height</li>
</ul>
<pre class="line-numbers highlight language-dart"><code class="language-dart"><span class="token keyword">import</span> <span class="token string">'package:flutter/material.dart'</span><span class="token punctuation">;</span>

<span class="token keyword">class</span> <span class="token class-name">Home</span> <span class="token keyword">extends</span> <span class="token class-name">StatelessWidget</span> <span class="token punctuation">{</span>
  <span class="token keyword">const</span> <span class="token function">Home</span><span class="token punctuation">(</span><span class="token punctuation">{</span><span class="token keyword">super</span><span class="token punctuation">.</span>key<span class="token punctuation">}</span><span class="token punctuation">)</span><span class="token punctuation">;</span>

  <span class="token metadata symbol">@override</span>
  Widget <span class="token function">build</span><span class="token punctuation">(</span>BuildContext context<span class="token punctuation">)</span> <span class="token punctuation">{</span>
    <span class="token keyword">return</span> <span class="token function">Scaffold</span><span class="token punctuation">(</span>
        body<span class="token punctuation">:</span> <span class="token function">Center</span><span class="token punctuation">(</span>
            child<span class="token punctuation">:</span> <span class="token function">Container</span><span class="token punctuation">(</span>
                alignment<span class="token punctuation">:</span> Alignment<span class="token punctuation">.</span>centerLeft<span class="token punctuation">,</span>
                child<span class="token punctuation">:</span> <span class="token function">Container</span><span class="token punctuation">(</span>
                    color<span class="token punctuation">:</span> Colors<span class="token punctuation">.</span>amber<span class="token punctuation">,</span>
                    child<span class="token punctuation">:</span> <span class="token keyword">const</span> <span class="token function">Text</span><span class="token punctuation">(</span>
                        style<span class="token punctuation">:</span> <span class="token function">TextStyle</span><span class="token punctuation">(</span>fontSize<span class="token punctuation">:</span> <span class="token number">30</span><span class="token punctuation">)</span><span class="token punctuation">,</span> <span class="token string">'Hello World'</span><span class="token punctuation">)</span><span class="token punctuation">)</span><span class="token punctuation">)</span><span class="token punctuation">)</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
  <span class="token punctuation">}</span>
<span class="token punctuation">}</span>
<span aria-hidden="true" class="line-numbers-rows"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></span></code></pre>
<ul>
<li>將 <code>Text</code> 包在 <code>Container</code> 內，並再次將 <code>Container</code> 包在 <code>Container</code> 內</li>
<li>外層 <code>Container</code> 負責 <code>alignment</code>，內層 <code>Container</code> 負責 <code>color</code></li>
</ul>
<h2 id="Transform"><a href="#Transform" class="headerlink" title="Transform"></a>Transform</h2><p><img src="/images/flutter/layout/container/container09.webp" alt="container09"></p>
<ul>
<li><code>Hello World</code> 的 Container 有傾斜角度</li>
</ul>
<pre class="line-numbers highlight language-dart"><code class="language-dart"><span class="token keyword">import</span> <span class="token string">'package:flutter/material.dart'</span><span class="token punctuation">;</span>

<span class="token keyword">class</span> <span class="token class-name">Home</span> <span class="token keyword">extends</span> <span class="token class-name">StatelessWidget</span> <span class="token punctuation">{</span>
  <span class="token keyword">const</span> <span class="token function">Home</span><span class="token punctuation">(</span><span class="token punctuation">{</span><span class="token keyword">super</span><span class="token punctuation">.</span>key<span class="token punctuation">}</span><span class="token punctuation">)</span><span class="token punctuation">;</span>

  <span class="token metadata symbol">@override</span>
  Widget <span class="token function">build</span><span class="token punctuation">(</span>BuildContext context<span class="token punctuation">)</span> <span class="token punctuation">{</span>
    <span class="token keyword">return</span> <span class="token function">Scaffold</span><span class="token punctuation">(</span>
        body<span class="token punctuation">:</span> <span class="token function">Center</span><span class="token punctuation">(</span>
            child<span class="token punctuation">:</span> <span class="token function">Container</span><span class="token punctuation">(</span>
                color<span class="token punctuation">:</span> Colors<span class="token punctuation">.</span>amber<span class="token punctuation">,</span>
                transform<span class="token punctuation">:</span> Matrix4<span class="token punctuation">.</span><span class="token function">rotationZ</span><span class="token punctuation">(</span><span class="token number">0.2</span><span class="token punctuation">)</span><span class="token punctuation">,</span>
                child<span class="token punctuation">:</span> <span class="token keyword">const</span> <span class="token function">Text</span><span class="token punctuation">(</span>
                    style<span class="token punctuation">:</span> <span class="token function">TextStyle</span><span class="token punctuation">(</span>fontSize<span class="token punctuation">:</span> <span class="token number">30</span><span class="token punctuation">)</span><span class="token punctuation">,</span> <span class="token string">'Hello World'</span><span class="token punctuation">)</span><span class="token punctuation">)</span><span class="token punctuation">)</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
  <span class="token punctuation">}</span>
<span class="token punctuation">}</span>
<span aria-hidden="true" class="line-numbers-rows"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></span></code></pre>
<ul>
<li>將 <code>Text</code> 包在 <code>Container</code> 內</li>
<li><code>transform</code>：設定旋轉角度</li>
</ul>
<h2 id="Conclusion"><a href="#Conclusion" class="headerlink" title="Conclusion"></a>Conclusion</h2><ul>
<li>若沒對 <code>Container</code> 設定 <code>有效</code> 屬性，Android Studio 會提出警告</li>
</ul>
<h2 id="Reference"><a href="#Reference" class="headerlink" title="Reference"></a>Reference</h2><p><a href="https://api.flutter.dev/index.html" target="_blank" rel="noopener">Flutter SDK</a>, <a href="https://api.flutter.dev/flutter/widgets/Container-class.html" target="_blank" rel="noopener">Container class</a></p>

          </article>
          <p class="post-footer-info mb-0 pt-2">
  
  
  <span class="post-tags-list mt-2">
    
    
    <a class="post-tags-list-item" href='/tags/Flutter/'>#&nbsp;Flutter</a>
    
  </span>
  
</p>
        </div>
        <div class="post-nav px-2 bg-gray">
	<ul class="pagination">
		<!-- Prev Nav -->
		
		<li class="page-item page-prev">
			<a href="/flutter/layout/center/">
				<div class="page-item-title"><i class="icon icon-back" aria-hidden="true"></i></div>
				<div class="page-item-subtitle">Center 為 Widget 水平垂直置中</div>
			</a>
		</li>
		
		<!-- Next Nav -->
		
		<li class="page-item page-next">
			<a href="/flutter/widget/cupertinoapp/">
				<div class="page-item-title"><i class="icon icon-forward" aria-hidden="true"></i></div>
				<div class="page-item-subtitle">建立 Cupertino 風格頁面</div>
			</a>
		</li>
		
	</ul>
</div>
      </div>
    </div>
  </div>
</div>


  <footer class="text-center">
  <p class="footer-copyright mb-0">Copyright&nbsp;©&nbsp;<span data-year></span>
    <a href="mailto:oomusou@gmail.com" class="footer-copyright-a" href="https://yabai.tw">點燈坊</a>
  </p>
</footer>

  <!-- ### Footer JS Import ### -->
<script>
  window.lazyLoadOptions = {
    elements_selector: ".lazyload",
    threshold: 50
  };

  /* Copyright */
  var copyrightNow = new Date().getFullYear();
  var copyrightContent = document.querySelector('span[data-year]')
  copyrightSince = 2015;
  copyrightContent.textContent = copyrightSince + ' - ' + copyrightNow;
</script>
<!-- vanilla-lazyload -->

<script src="/lib/vanilla-lazyload/lazyload.min.js" async></script>




<!-- gallery.js -->

<!-- Comment -->

<!-- ### Custom Footer ### -->

  </body>
</html>